html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav,
.navbar,
.nav-container {
  min-height: 100vh;
}


.logo,
.page-link,
.system-link {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.sidebar {
  padding: 2rem 8px 8px 8px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.35s ease-in-out;
  padding: 24px;  
  position: relative;
  z-index: 3;
  color: white;
  background-color: #2592D4;
}

.sidebar a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
  min-height: 100%;
}

.system-menu {
  margin-top: 4rem;
}

/* Hamburger menu */
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #F0B43B;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.1s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.1s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.logo {
  margin-top: 2rem;
}

.nav-container input[type="checkbox"]:checked ~ .sidebar {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
/* End of hamburger menu */